table, th, td {
  border: 1px solid black;
  /*vertical-align: middle;*/
}

th {
  background-color: #01d3ff;
}

tr:nth-child(even) {
  background-color: #c2f2f4
}


img {
  display: inline-block;
  vertical-align: middle;
}
